*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.menu{
    display: grid;
    grid-template-rows: auto 90px;
}

.menu_icons ul li,
.menu_secondary ul li {
    list-style-type: none;
}
.menu_icons{
    background-color: #E7B10A;
}
.img_icon{
    width: 35px;
    margin: 10px;
}
.menu_icons ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_secondary {
    background-color: azure;

}
.menu_secondary ul{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.img_user{
    width: 80px;
}

.menu_secondary ul li:nth-child(2){
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.sobre_mi a{
    text-decoration: none;
    color: #000
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    background-image: url('/Practicas de maquetacion/blog/assets/fonfo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 200px;
}

.main_text{
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}

.main_button{
    width: 190px;
    height: 50px;
    background-color: #E7B10A;
    display: grid;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.main_button a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
