

.conteiner{
    width: 500px;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}
.conteiner:hover .box{
/*Con scale nuestra caja y el contenido va a crecer si solo apuntamos a las cajas dentro solo estas creceran*/
    transform: scale(1.2);

}
.box{
    width: 100px;
    height: 100px;
}
.box1{
    background-color: cadetblue;
/*Le ponemos la propiedad que queremos que transicione*/
    transition: transform 500ms;
}

.box2{
    
    background-color: rgb(231, 165, 33);
    transition: transform 2s;

}

.box3{
    
    background-color: rgb(230, 18, 208);
    transition: transform 3s;

}
