


body{
    font-size: 20px;
}
/*24px*/
.text-container{
    font-size: 1.5em;
}

/*Este es un problema con em ya que ahora el padre es ".text-container" y no vale 20 si no 24*/
.text-container div{
    font-size: 1.5em;
}