/* Custom propertys */
:root{
    --first-color-1: #270821;
    --second-color-2: #00988d;
    --letra-color: #f1e8f0;
    --grey-0: #ebebeb;
    --grey-1: #a0a0a0;
    --grey-2: #787878;
    --black-alpha-color: rgba(0,0,0,0.5);
    --font: "Raleway", "sans-serif";
    --header-height: 4rem;

}

html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body{
    margin: 0;
/* quitar la barra de desplazamiento en X overflow es para el desbordmiento de contenido*/
    overflow-x: hidden;
}

a{
    color: blue;
    transition: all 0.8s ease;
}
a:hover{
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
p{
    line-height: 1.6;
}

  .box-shadow-1{
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
  }

  img{
  width: 100vw;
  height: auto;
}

.noneMenu{
  display: none;
}

.btn{
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--first-color-1);
  color: var(--letra-color);
}

/* Esta seccion ira centrada por eso los margin y un ancho maximo*/
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

}

/* position_fixed es fijar el contenido osea que aun que hagamos scroll esta seguira fija*/
.header{
  position: fixed;
  left: 0;
  padding: 1rem;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 4rem;
  background-color: var(--first-color-1);
}

/* Aqui seleccionamos el hijo directo de header */
.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* Menu */
.logo a{
  color: var(--letra-color);
  font-size: 2rem;
  text-decoration: none;
}

.menu-btn{
  outline: thin solid var(--first-color-1);
  border: none;
  cursor: pointer;
  background-color: var(--first-color-1);
}

/* Agregamos una opacidad de 0 y agregamos una transicion y con JS ya activamos el menu */
/*   pointer-events: none; hace que los botones no tengan interactividad ya que a un que tengamos opacidad en 0 y no se vean aun asi los botones tienen interactividad */
.menu{
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  background-color: var(--first-color-1);
  transition:opacity 0.5s ease;
}
/* Esta clase nos permitira cambiar la opacidad con js */
.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}

.menu a{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--letra-color);
}

.menu a:hover{
  color: var(--letra-color-secondary);
  background-color: #00988d;
}
/* -----------------imagen fondo-------------- */
.hero-image{
background-image: url("/PROYECTO\ 9-Portafolio/assets/fondo-mobile.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
/* capara de opacidad a nuestro aside que estan dentro del article que contiene la imagen */
.hero-image-opacity{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  text-align: center;

}
.hero-image-title{
  color: var(--letra-color);
  font-size: 3rem;
}



.home a{
  margin-top: 50px;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid var(--letra-color);
}



/* Habilidades---------------------------------------------------------- */

/* Le ponemos un filtro gris a la imagen de perfil */
.habilidades h2{
  text-align: center;
  font-size: 2rem;
}
.habilidades .habilidades-icons{
  display: flex;
  justify-content: center;
}
.habilidades .habilidades-icons img{
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-perfil{
  filter: grayscale(1);
}
.acerca-info{
  text-align: center;
  letter-spacing: 2px;
  line-height: 2;
}

.info-acercaDe p{
  text-align: center;
  margin: 8px;
}



